@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v19-latin/raleway-v19-latin-regular.eot");
  src: local(""),
    url("../fonts/raleway-v19-latin/raleway-v19-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway-v19-latin/raleway-v19-latin-regular.woff2")
      format("woff2"),
    url("../fonts/raleway-v19-latin/raleway-v19-latin-regular.woff")
      format("woff"),
    url("../fonts/raleway-v19-latin/raleway-v19-latin-regular.ttf")
      format("truetype"),
    url("../fonts/raleway-v19-latin/raleway-v19-latin-regular.svg#Raleway")
      format("svg");
}
body {
  margin: 0px;
  font-family: "Raleway", arial;
}
.main {
  max-width: 1024px;
  margin: 0 30px;
}
/*groupe global pour eviter les repetitions 
a verifier a la fin!! */
a {
  text-decoration: none;
  color: black;
}
h1 {
  margin-top: 1em;
  font-family: "Raleway";
  font-size: 1.1em;
  font-weight: bold;
}
h1 + p {
  font-size: 0.7em;
  font-weight: bold;
}

h3 {
  font-size: 0.9em;
  font-family: "raleway";
  font-weight: bold;
  color: black;
  margin-top: 0rem;
  margin-bottom: 0.5em;
}
p {
  font-size: 0.8em;
  font-family: "raleway";
  color: black;
  margin-top: 0em;
  margin-bottom: 0.5em;
}
.stars {
  font-size: 0.5em;
}
strong {
  margin-left: 0.3em;
}
i[data-active="true"] {
  color: #0065fc;
}
i[data-active="false"] {
  color: #9c9c9c;
}

/*fin du groupe */
/*header*/
.logo {
  display: flex;
  justify-content: flex-end;
  margin-right: auto;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 1024px;
  margin: 15px 30px;
}
.header_main {
  margin-right: 2em;
  display: flex;
  font-size: 0.8em;
  font-family: "Raleway";
  font-weight: bold;
}
.header_nav_signup {
  margin-right: 2em;
  display: block;
  color: #0065fc;
  font-size: 0.8em;
  font-family: "Raleway";
  font-weight: bold;
}
.header_nav_link {
  padding: 1em;
}
.header_nav_link:hover {
  border-top: #0065fc 3px solid;
  color: #0065fc;
  border-bottom: 3px #0065fc transparent;
}
.header_nav_link[data-active="true"] {
  padding: 2em;
  border-top: #0065fc 3px solid;
  color: #0065fc;
  border-bottom: 3px #0065fc transparent;
}
.header_nav_link[data-active="false"] {
  padding: 2em;
  border-top: #0065fc 3px transparent;
  border-bottom: 3px #0065fc transparent;
}

/*fin header*/
/*wrapper*/
.wrapper {
  max-width: 1024px;
  margin: 0 30px;
}
form {
  display: flex;
}
form i {
  background-color: #f2f2f2;
  border-radius: 0.5em 0 0 0.5em;
  padding: 0.5em;
  padding-right: 1em;
  text-align: center;
}
.search {
  display: flex;
  margin-top: 1em;
}
input {
  background-color: white;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  border-left: none;
  border-right: none;
  font-size: 1em;
  font-weight: bold;
  font-family: "Raleway";
  padding: 0.5em;
  height: 1em;
  width: 170px;
}
input::placeholder {
  font-family: "Raleway";
  font-weight: bold;
  color: black;
  font-size: 1em;
}
.button i {
  color: white;
  background-color: #0065fc;
  border-radius: 0.6em;
  display: none;
  padding: 0.5em;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}
.button span {
  display: flex;
  background-color: #0065fc;
  border-radius: 0 0.5em 0.5em 0;
  color: white;
  border: none;
  padding: 0.5em;
  font-size: 1em;
  font-weight: normal;
  font-family: "Raleway";
  cursor: pointer;
} /* fin cds*/

/* partie filtres*/
.search_filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
  font-family: "Raleway";
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.search_filters_title_ico {
  display: flex;
  align-items: center;
  margin-right: 1.5em;
  height: 2em;
  background-color: white;
  border-radius: 2em;
  border: #f2f2f2 2px solid;
  border-left: none;
}
.search_filters_title_title {
  font-size: 0.9em;
  margin-right: 2em;
}

.search_filters i {
  background-color: rgb(222, 235, 255);
  color: #0065fc;
  padding: 0.5rem;
  border-radius: 1em 1em 1em 1em;
  font-size: 1em;
  width: 17px;
  height: 17px;
}
.search_filters_title_ico:hover {
  background-color: #f3f8ff;
  color: #0065fc;
  cursor: pointer;
}
.search_filters_title {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 0.9em;
}
.search_filters_result {
  display: flex;
  padding-top: 1em;
  margin-bottom: 1em;
}
.search_filters_result_ico {
  display: flex;
  align-items: center;
  background-color: white;
  color: #0065fc;
  border-radius: 50%;
  border: #f2f2f2 2px solid;
  padding: 0.8em;
  width: 1px;
  height: 1px;
  margin-right: 1em;
  font-size: 0.6em;
}
.search_filters_result_txt {
  font-family: "Raleway";
  font-size: 0.8em;
}
/*fin wrapper*/
/*section_hosting*/
.hosting_at {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 20px 20px 20px 20px;
  width: 665px;
  padding: 1em;
}
#hosting {
  font-family: "Raleway";
  font-size: 1.1em;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  margin-left: 1em;
}
.hosting_at_container_more {
  font-family: "Raleway";
  font-size: 1em;
  font-weight: bold;
  margin-top: 1em;
  margin-left: 1em;
}

.hosting_at_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.hosting_at_container_cards {
  width: 33%;
}
.hosting_at_cards {
  background-color: white;
  width: 90%;
  height: 160px;
  border-radius: 10px 10px 10px 10px;
  border: 3px white solid;
  box-shadow: 1px 2px 9px rgb(199, 194, 182);
  margin-left: 15px;
}
.hosting_legend {
  margin-left: 0.5em;
}
.img_hosting {
  height: 60%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

/*section_popular*/
.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 20px 20px 20px 20px;
  padding: 1em;
  margin-left: 2%;
  margin-right: 1em;
  width: 268px;
}
.popular_title_icon {
  display: flex;
  justify-content: space-between;
  width: 88%;
  align-items: baseline;
  flex-wrap: wrap;
}
.popular_icon {
  font-size: 1.3em;
}
.popular_title {
  font-family: "Raleway";
  font-size: 1.1em;
}
.popular_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.popular_container_cards {
  width: 100%;
  height: 150px;
}
.popular_cards {
  display: flex;
  background-color: white;
  width: 97%;
  height: 115px;
  border-radius: 10px 10px 10px 10px;
  border: 3px white solid;
  box-shadow: 1px 2px 9px rgb(199, 194, 182);
  margin-left: 0px;
}
.popular_legend {
  margin-left: 0.5em;
  width: 60%;
}
.popular_container_cards_stars {
  margin-top: 4em;
  font-size: 0.5em;
}
.img_popular {
  height: 100%;
  width: 40%;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}
.global {
  display: flex;
  flex-direction: row;
}
/*fin groupe*/
/*section activity*/
.activity_at_container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2em;
}
.activity_at_container_card_solo {
  width: 24%;
}
.activity_at_container_card_duo {
  width: 24%;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.activity_at_container_card {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  width: 95%;
  box-shadow: 1px 2px 9px rgb(199, 194, 182);
}
.activity_at_container_card_solo_card {
  margin: 0px;
}
.activity_at_container_card_solo_card img {
  height: 350px;
}
.activity_at_container_card_one {
  margin: 0px;
  height: 192px;
}
.activity_at_container_card_one img {
  height: 147px; /* a voir */
}

.activity_at_container_card_two {
  margin: inherit;
  height: 177px;
}
.activity_at_container_card_two img {
  height: 128px;
}

.activity_at_container_card_three {
  margin: inherit;
  height: 180px;
}
.activity_at_container_card_three img {
  height: 135px;
}
.activity_at_container_card_four {
  margin: inherit;
  height: 190px;
}
.activity_at_container_card_four img {
  height: 140px;
}
.activity_at_container_card_title {
  padding: 1em;
}
.activity_at {
  display: flex;
  flex-direction: column;
}
.img_activity {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

#activity {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin-left: 0px;
  margin-top: 3em;
  margin-bottom: 1em;
}
/*footer*/
footer {
  background-color: #f2f2f2;
  padding: 2em;
  max-width: 1024px;
}

footer h3 {
  margin-top: 1em;
  font-size: 0.9em;
  font-family: "Raleway";
  font-weight: bold;
  margin-bottom: 1em;
}
.container_footer {
  font-size: 0.9em;
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer a {
  font-size: 1em;
  color: black;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .global {
    flex-wrap: wrap-reverse;
  }

  .hosting_at {
    width: 100%;
  }
  .popular {
    width: 100%;
    margin: 0 0 1em;
    padding: 0px;
  }
  .popular_container {
    flex-direction: row;
  }
  .popular_title_icon {
    justify-content: space-between;
    width: 98%;
  }
  .popular_cards {
    width: 94%;
    margin: 4px;
  }
  .activity_at_container_card_solo {
    min-width: 48%;
    margin-bottom: 20px;
  }
  .activity_at_container {
    padding-bottom: 1em;
    flex-wrap: wrap;
  }
  .activity_at_container_card_duo {
    min-width: 48%;
    flex-direction: column;
  }
  .activity_at_container_card {
    width: 100%;
  }
  .search_filters_title_ico {
    margin-right: 0.7em;
  }
  .container_footer {
    margin: 0 30px;
    width: 90%;
    font-size: 0.9em;
  }
} /*767 */
@media all and (min-width: 526px) and (max-width: 767px) {
  .search_filters_title_title {
    width: 100%;
    margin-bottom: 10px;
  }
  .search_filters_title_ico {
    margin-bottom: 10px;
    margin-right: 9px;
  }
  .global {
    flex-wrap: wrap-reverse;
  }
  .popular {
    width: 94%;
    margin: 0 0 1em;
    padding: 1em;
  }
  .hosting_at_container_cards {
    min-width: 50%;
  }
  .activity_at_container {
    display: block;
    padding: 0px;
  }
  .activity_at_container_card_solo {
    width: 100%;
    margin-bottom: 5em;
    margin-top: 1em;
    height: 130px;
  }
  .activity_at_container_card_solo img {
    height: 130px;
  }
  .activity_at_container_card_duo {
    width: 100%;
    margin-bottom: 30px;
  }
  .activity_at_container_card_one img {
    height: 130px;
  }
  .activity_at_container_card_one {
    height: 180px;
  }
  .activity_at_container_card_two img {
    height: 130px;
  }
  .activity_at_container_card_two {
    height: 180px;
  }
  .activity_at_container_card_three img {
    height: 130px;
  }
  .activity_at_container_card_three {
    height: 180px;
  }
  .activity_at_container_card_four img {
    height: 130px;
  }
  .activity_at_container_card_four {
    height: 180px;
  }
  .activity_at_container_card {
    width: 99%;
  }
  .container_footer {
    width: 100%;
  }
}
@media all and (max-width: 525px) {
  header {
    margin: 10px 10px;
  }
  .logo {
    margin-left: 1em;
  }
  .header_nav_signup {
    margin-right: 2em;
    margin-top: 10px;
  }

  .header_nav_link:hover {
    border-top: #0065fc 3px none;
    color: #0065fc;
    border-bottom: 3px #0065fc solid;
  }
  .header_nav_link[data-active="true"] {
    padding: 1em 2.4em;
    border-top: #0065fc 3px none;
    color: #0065fc;
    border-bottom: 3px #0065fc solid;
  }
  .header_nav_link[data-active="false"] {
    padding: 1em 3.4em;
    border-top: #0065fc 3px transparent;
    border-bottom: 3px solid #e8e8e8;
  }
  .wrapper {
    margin: 0 10px;
  }
  .wrapper_title {
    margin: 1.5em;
  }
  .button span {
    display: none;
  }
  .button i {
    display: flex;
  }
  .search_filters {
    margin-left: 20px;
    margin-bottom: 0px;
  }
  .search {
    margin-left: 20px;
    width: 260px;
  }
  .search_filters_title_title {
    width: 100%;
    margin-bottom: 10px;
  }
  .search_filters_title {
    margin-left: 0.5em;
  }
  .search_filters_title_ico {
    margin-bottom: 10px;
    margin-right: 9px;
  }
  .search_filters_result {
    margin-left: 20px;
  }
  .main {
    margin: 0 20px;
  }
  .global {
    flex-wrap: wrap-reverse;
  }
  .popular {
    width: 100%;
    margin: 0 0 1em;
    padding: 1em;
    border-radius: 0px;
  }
  .popular_title_icon {
    width: 100%;
  }
  .popular_container_cards {
    height: 137px;
  }
  .popular_container_cards_stars {
    margin-top: 6em;
  } /*hosting*/
  .hosting_at {
    background-color: white;
    padding: 0px;
  }
  #hosting {
    margin-left: 1em;
  }
  .hosting_at_container_cards {
    width: 100%;
  }
  .hosting_at_cards {
    width: 88%;
    margin: 7px 15px;
  }
  .activity_at_container {
    display: block;
    padding: 0px;
  }
  .activity_at_container_card_solo {
    width: 100%;
    margin-bottom: 5em;
    margin-top: 1em;
    height: 130px;
  }
  .activity_at_container_card_solo img {
    height: 130px;
  }
  .activity_at_container_card_duo {
    width: 100%;
    margin-bottom: 30px;
  }
  .activity_at_container_card_one img {
    height: 130px;
  }
  .activity_at_container_card_one {
    height: 180px;
  }
  .activity_at_container_card_two img {
    height: 130px;
  }
  .activity_at_container_card_two {
    height: 180px;
  }
  .activity_at_container_card_three img {
    height: 130px;
  }
  .activity_at_container_card_three {
    height: 180px;
  }
  .activity_at_container_card_four img {
    height: 130px;
  }
  .activity_at_container_card_four {
    height: 180px;
  }
  .activity_at_container_card {
    width: 99%;
  }
  .container_footer {
    flex-direction: column;
  }
}
@media all and (max-width: 499px) {
  .header_main {
    order: 3;
    margin: 2em 0;
  }
  header {
    flex-wrap: wrap;
  }
}
